#play-game
{
  display: block;
  background-color: #00611C;
  padding: 3ex 2em;
  border-top: 2px solid #000;
  text-align: center;
  cursor: hand;
}

.disabled#play-game
{
  background-color: #CCC;
}

.screen
{
  background: transparent url(images/farm.png) no-repeat scroll 0 0;
  width: 800px;
  height: 550px;
  margin: 0 auto;
}

p#instructions
{
  font-weight: bold;
  text-align: center;
  font-size: 110%;
  padding: 2em 1ex;
  margin: 0;
}

#matrix
{
  margin: 80px 150px;
  height: 304px;
  width: 304px;
}

#matrix > table > tbody > tr > td
{
  border: 0;
  background: transparent url(images/mole-sprite.gif) no-repeat scroll 0 0;
  height: 76px;
  width: 76px;
  padding: 0;
  margin: 0;
}