.screen
{
  background: transparent url(../images/farm.png) no-repeat scroll 0 0;
  width: 800px;
  height: 550px;
  margin: 0 auto;
}

p#instructions
{
  background: rgba(255, 255, 255, .5);
  font-weight: bold;
  text-align: center;
  font-size: 110%;
  padding: 2em 1ex;
  margin: 0;
}

#matrix
{
  margin: 50px 25%;
}

/* this query is not specifying the type of cell (e.g. ball, triangle) */
/* that should still be added */
#matrix > table > tbody > tr > td
{
  border: 0;
  background: transparent url(../images/mole-sprite.gif) no-repeat scroll 0 0;
  height: 76px;
  width: 59px;
  padding: 0;
  margin: 0;
}
